@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  position: relative;
}
.modal,
.modal-tasks,
.modal-edit {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container,
.modalTaskContainer,
.modalEditContainer {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 2em 2em;
  background-color: aliceblue;
  max-width: 500px;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5em;
}

#barIcon {
  color: aliceblue;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.projBtn {
  margin: 0.7em 0.5em;
  padding: 0.4em 0.5em;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 2em;
}

.rightSecTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.task-btn {
  background: transparent;
  padding: 0.3em;
  color: #22c1c3;
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.4em;
  font-family: "Do Hyeon", monospace;
}
.task-btn:hover {
  border: 3px solid skyblue;

  cursor: pointer;
}

.projBtn:hover {
  border: 2px solid skyblue;
  color: #22c1c3;
  cursor: pointer;
}
.addProjHead {
  margin: 0.5em 0;
  font-family: "Do Hyeon", monospace;
  color: #22c1c3;
}

#content {
  height: 100%;
}

.projLabel {
  color: #22c1c3;
  font-family: "Do Hyeon", monospace;
}

.Title {
  background: #22c1c3;
  padding: 1.5em;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titHead {
  font-size: 2rem;
  font-family: "Do Hyeon", monospace;
  color: aliceblue;
}
.container {
  display: flex;
  min-height: 85%;
}
.left-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 0.4em 0.5em;
  background-color: aliceblue;
  color: #22c1c3;
  border-right: 0.2em solid skyblue;
  min-width: 170px;
}

.upper-body {
  font-size: 1.4rem;
}

.left-secItem {
  display: inline-block;
  align-items: center;
  margin: 0.2em;
  cursor: pointer;
  font-family: "Do Hyeon", monospace;
}

.upperBodyItems {
  display: flex;
  align-items: center;
}

.material-icons {
  font-size: 24px;
  padding: 0 0.2em;
}

.lower-head {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}
.lower-body {
  margin-top: 0.4em;
  font-family: "Do Hyeon", monospace;
}

#addIcon {
  margin-left: 0.3em;
  padding: 2px;
  border-radius: 5px;
}

#addIcon:hover {
  background-color: skyblue;
  padding: 2px;
  margin-left: 0.3em;
  border-radius: 50%;
  cursor: pointer;
}

.right-section {
  background: aliceblue;
  width: 75%;
}
.proj-items {
  font-size: 1.1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  cursor: pointer;
}
#project {
  padding: 0.5em;
  border: 2px solid #22c1c3;
  margin: 0.3em 0;
}

.minus {
  box-sizing: border-box;
  padding: 2px;
  border-radius: 50%;
}

.minus:hover {
  background-color: skyblue;
  border-radius: 50%;
  cursor: pointer;
}

.task-icons {
  display: flex;
  justify-content: space-between;
}

.rightSecHead {
  text-align: center;
  font-family: "Do Hyeon", monospace;
  color: #22c1c3;
}

.task-div {
  margin: 0.5em auto;
  width: 70%;
  max-width: 500px;
  background: #64e2e6;
  padding: 1em;
  font-family: "Do Hyeon", monospace;
  color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.4em;
}

.visible-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

.invisible-tasks {
  display: none;
}

.taskIcons {
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
}

.taskIcons:hover {
  cursor: pointer;
  background-color: aliceblue;
  border-radius: 50%;
  color: #64e2e6;
}

@media (max-width: 550px) {
  #barIcon {
    display: block;
  }
  .container {
    flex-direction: column;
    background: aliceblue;
  }
  .left-section {
    width: 100%;
    border: none;
    display: none;
  }

  .left-section .open {
    display: block;
  }
  .right-section {
    width: 100%;
  }
}
